@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --bordercolor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}


p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color:var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-widht: 1200px) {
    .main-container { 
        width: 90%;
    }
}

.btn{
    padding: 1rem 1.rem;
    background: white;
    border: 1.5px solid var(--bordercolor);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
    text-align: center;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0,9rem;
}

.pre-title-service {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0,9rem;
    margin-left: 30.5rem;
    margin-top: 10rem;
}

.pre-title-works{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0,9rem;
    margin-left: 30.5rem;
    margin-top: 10rem;
} 

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap:3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-style: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

#hero {
    height: 720;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.rem 0 1rem;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right img {
    width: 300px;
    margin-left: 8.5rem;
}

.hero-right {
    display: flex;
    justify-content: center;
}

#services {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
    width: 400px;
}

.service-2 {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    border-radius: var(--bordercolor);
    width: 400px;
    margin-left: 25rem;
    margin-top: -17.80rem;
}

.service-3{
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
    width: 400px;
    margin-left: 50rem;
    margin-top: -17.80rem;
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-2 h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-3 h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon-2 {
    background: var(--thirBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon-3 {
    background: var(--thirBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: var(--primaryIconColor);
}

.service-icon-2 svg {
    fill: var(--primaryIconColor);
}

.service-icon-3 svg {
    fill: var(--primaryIconColor);
}

/* portofolio section */

#portofolios {
    padding: var(--sectionPadding);
}

.portofolio {
    border-radius: var(--itemBorderRadius);
    margin-left: 10rem;
}

.portofolio-cover {
    width: 100px;
    height: 100px;
}

.portofolio-cover img {
    width: 150px;
    height: 150px;
}

.contact {
    text-decoration: none;
    align-items: center;
}

.media-sosial {
    margin-right: 90px;
    display: flex;
    margin-left: 30px;
}

.img-sosial{
    margin-left: 290px;
    margin-top: 50px;

}

.img-sosial img {
    margin-right:100px;
    margin-top: 50px;
    width: 32px ;
}
.title-icon a {
    font-size: 20px;
    margin-right: 100px;
    margin-top: -1000px;

}
